body {
    background-color: green;
}
.dogimage1 {
    background-color: red;
}
.dogimage2 {
    background-color: yellow;
}
.dogimage3 {
    background-color: blue;
}
.breakline {
    background-color: grey;
}