Body {
    
    font-family: 'Times New Roman', Times, serif;

    background-color: grey;

}

.Instructions {

    background-color: white;

}

.ListBackground {
    
    background-color: white;
    
}

.NavigationBar {

    overflow:hidden;

    background-color: lightgrey;

    height: 50px;

}

.NavigationBar a {

    float: left;

    background-color: lightgrey;

    color: black;

    text-align: center;
    
    padding-left: 15px;

    padding-right: 15px;
    
    padding-top: 12px;

    padding-bottom: 20px;
    
    text-decoration: none;

    font-size: 25px;

}

.NavigationBar a:hover {

    background-color:black;

    color:white;

}

.NavigationBar a.active {

    background-color: darkgrey;

    color: white;

}

@media screen and (max-width: 600px) {

    .NavigationBar {

        width: 80px;

        height: 207.5px;

        overflow-y: auto;

    }

    .NavigationBar a {

        background-color: lightgrey;

        color: black;

        display: block;

        padding-left: 10px;

        padding-right: 30px;

        padding-top: 12px;

        padding-bottom: 12px;

        text-decoration: none;

    }

    .NavigationBar a:hover {

        background-color: black;

        color: white;
        
    }

    .NavigationBar a.active {

        background-color: darkgrey;

        color: white;

    }

}
