Body {
    background-color: green;
}

.NavigationBarHome {

    overflow:hidden;
    background-color: violet;
    height: 50px;
}

.NavigationBarHome a {
    float: left;

    background-color: violet;
    color: black;
    text-align: center;
    
    padding-left: 15px;
    padding-right: 15px;
    
    padding-top: 12px;
    padding-bottom: 20px;
    
    text-decoration: none;
    font-size: 25px;
}

.NavigationBarHome a:hover {
    background-color:red;
    color:white;
}


.NavigationBarDog {

    overflow:hidden;
    background-color: red;
    height: 50px;
}

.NavigationBarDog a {
    float: left;

    background-color: red;
    color: black;
    text-align: center;
    
    padding-left: 15px;
    padding-right: 15px;
    
    padding-top: 12px;
    padding-bottom: 20px;
    
    text-decoration: none;
    font-size: 25px;
}

.NavigationBarDog a:hover {
    background-color: purple;
    color:white;
}

.NavigationBarCat {

    overflow:hidden;
    background-color: orange;
    height: 50px;
}

.NavigationBarCat a {
    float: left;

    background-color: orange;
    color: black;
    text-align: center;
    
    padding-left: 15px;
    padding-right: 15px;
    
    padding-top: 12px;
    padding-bottom: 20px;
    
    text-decoration: none;
    font-size: 25px;
}

.NavigationBarCat a:hover {
    background-color: blue;
    color:white;
}

.NavigationBarBird {

    overflow:hidden;
    background-color: yellow;
    height: 50px;
}

.NavigationBarBird a {
    float: left;

    background-color: yellow;
    color: black;
    text-align: center;
    
    padding-left: 15px;
    padding-right: 15px;
    
    padding-top: 12px;
    padding-bottom: 20px;
    
    text-decoration: none;
    font-size: 25px;
}

.NavigationBarBird a:hover {
    background-color: darkgreen;
    color:white;
}
